@(authForm: Form[Auth])

@main("") {        
	@helper.form(routes.Login.authenticate) {
		<h3>Login</h3>
            @if(authForm.hasGlobalErrors) { 
                <p class="error">
                    @authForm.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" value="@authForm("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
            <p>
            	<tr>
					<td><button type="submit">Login</button></td>
					<td><a href="@routes.Login.showRegistration" id="reg">Registrieren<a></td>
				</tr>
            </p>
            
	}
}
