@(registForm: Form[User])

@import helper._

@main("Login") {
		@form(action = routes.Login.executeRegistration()) {
			<h3>Registrieren</h3>
			@inputText(registForm("vorname"))
			@inputText(registForm("name"))
			@inputText(registForm("email"))
			@inputPassword(registForm("password"))
			
			
			<button type="submit" id="reg">Registrieren</button>
		}
}